:root {
    --color-background:#181a1e;
    --color-white:#ffffff;
    --color-dark:#686868;
    --color-light: rgba(239, 239, 239, 0.18);
    --color-info-light: #dce1eb;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}
.text{
    font-size: 2rem;
    color: var(--color-info-light);

}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center; 
    background-color:var(--color-background); 
}
.data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background: var(--color-dark);
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}
#data-actual{
    font-size: 3rem;
    color: var(--color-white);
}