body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon-container {
    width: 600px;
    overflow: hidden;
    height: 300px;
    background-color: rgb(151, 151, 151);
    position: relative;
}

.icon {
    position: absolute;
    font-size: 50px;
    visibility: hidden;
}